@model ICP_ABC.Areas.Cities.Models.CreateViewModel

@{
    ViewBag.Title = "Cities Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string serverApi = System.Web.Configuration.WebConfigurationManager.AppSettings["serverApi"];

}

<h2>City Setup</h2>

@using (Html.BeginForm("", "", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div style="width:95%;height:375px;overflow-y:scroll;overflow-x:hidden;border:solid 1px #ddd;margin:3px;padding:5px;">
        @Html.AntiForgeryToken()

        <p class="text-danger">@Html.ValidationSummary(true)</p>

        <div class="row">

            <div class="form-group col-md-5 ">
                <label for="inputEmail4">City Code</label>
                @*@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", Value = ViewData["currr"], @readonly = "readonly", Text = ViewData["currr"] } })*@
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control form-control-sm", disabled = "disabled" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-5 ">
                <label for="inputEmail4">City Name</label>
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
                <div class="col-md-7">
                    @Html.TextBox("ssss", "", new { @class = "form-control form-control-sm", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding-top:15px;">
        <div class="btn-group col-md-5" role="group" aria-label="Basic example">
            <a href="~/Cities/City/Create" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Add New City</a>
            <a href="~/Cities/City/Search" class="btn btn-outline-primary"><i class="fa fa-search"></i> Search</a>
            <a href="~/Home/Home/Index" class="btn btn-outline-primary"><i class="fa fa-home"></i> Back to Home</a>
            @*<a id="TestApi" class="btn btn-outline-primary"><i class="fa fa-home"></i> TestApi</a>*@

        </div>
    </div>
}
    @section scripts{
        @*<script>
            $(document).ready(function () {
                $('#TestApi').on('click', function () {
                    //debugger;
                    $.ajax({
            
                        url: "@serverApi/GetCity/1" ,
                        type: 'POST',
                        success: function (Result) {
                            //debugger;
                            console.log("dsvhsadcvhjsahsa");

                            console.log(Result.name);
                            console.log(Result.code);
                            
                        }
                    });
                }
                );
            });



        </script>*@

    }
